/* google fonts */
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
}

.bg-common-color-white {
    background: rgba(255, 255, 255, 1);
}

.section-color {
    background-color: rgba(236, 236, 236, 1);
}

/* shared style */
.bg-common {
    background: rgba(198, 228, 214, 1);
}

.common-margine {
    margin: 0 160px;
}

.setion-title {
    font-size: 40px;
    font-weight: 700;
}

.setion-subtitle {
    color: rgba(14, 14, 14, 0.8);

    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.section-description {
    color: rgba(14, 14, 14, 0.7);

    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.primary-btn {
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);

    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}



/*  */

.width-web {
    max-width: 1600px;
}

/* nav section styles */
.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
}

.nav-title {
    font-size: 32px;
    font-weight: 700;
}

.nav-btn {
    padding: 15px 30px 15px 30px;
    /* box-sizing: border-box; */
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
}

/* hero section */
.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
    max-width: 1280px;
    height: 560px;
    padding: 80px 60px;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    margin: 0 160px 80px 160px;
}

.hero-sub {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.hero-heading {
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.pillers .pillers-2 {
    max-width: 1280px;
    /* margin: 0 160px; */
}

/* pillers of banglades section styles */
.pillers .piller-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 24px;
    margin-top: 34px;
    padding: 24px;
    /* max-width: 1280px; */
    width: 100%;
}

.pillers-2 .piller-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    margin-top: 34px;
    padding: 24px;
    /* max-width: 1280px; */
    width: 100%;
}

.piller-container h3 {
    margin: 24px 0 12px 0;

}

.piller-container .piller {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 24px;
}

.pillers-2 .piller-container {}

/* younus section */
.younus {
    padding: 48px 24px 48px 24px;
    width: 1280px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 25px 25px;
    margin-bottom: 80px;
}

.younus h3 {
    margin: 12px 0 4px 0;
}

/* your oponion section */
.your-openion-container {
    /* max-width: 1280px; */
    margin-bottom: 80px;
}

.your-openion {
    padding: 32px;
    /* width: 1280px; */
    border-radius: 16px;
    background: rgba(255, 255, 255, 1)
}

.your-openion>table>thead>tr td {
    box-sizing: border-box;
    /* border: 1px solid rgba(14, 14, 14, 0.15); */
    background: rgba(198, 228, 214, 1);
    padding: 30px;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    /* gap: 24px; */
    width: 1216px;
    height: 72px;
    
    
}

.your-openion table tbody tr td{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    /* background: rgba(198, 228, 214, 1); */
    padding: 30px;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    gap: 24px;
    width: 1216px;
    /* height: 72px; */
    
}

table tbody tr button{
    padding: 10px 14px 10px 14px;
  background: rgba(198, 228, 214, 1);
}

.taxt{
    padding: 34px;
}
.your-openion-container h1{
    margin-bottom: 40px;
}
table{
    border-collapse: collapse;
}

/* recent news section */

.recent-news{
    
}
.news-container{
    display: flex;
    gap: 32px;
    padding: 48px;
    max-width: 1280px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 24px;
    margin:32px 0 24px 0 ;
}
.news-container button{
    margin-top: 32px;
}
